:root {
  --silv-primary-bg: #fafafa;
  --silv-primary-fg: #18181a;
  --silv-secondary-bg: #282829;
  --silv-secondary-fg: #fafafa;
  --silv-muted-bg: #282829;
  --silv-muted-fg: #9d9da6;
  --silv-accent-bg: #282829;
  --silv-accent-fg: #fafafa;
}
.dark {
  --silv-primary-bg: #fafafa;
  --silv-primary-fg: #18181a;
  --silv-secondary-bg: #282829;
  --silv-secondary-fg: #fafafa;
  --silv-muted-bg: #282829;
  --silv-muted-fg: #9d9da6;
  --silv-accent-bg: #282829;
  --silv-accent-fg: #fafafa;
}
